<!DOCTYPE html>
<html>
  <head>
    <title>SurfCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel=”shortcut icon” href=”%PUBLIC_URL%/favicon.ico”>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/le-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicon-16x16.png">
    <link rel="manifest" href="../../assets/site.webmanifest">
    <script type="text/javascript">
      window.surfcamplogoURL = "<%= image_url('surfcamp-logo.png') %>"
      window.giftboxlogoURL = "<%= image_url('giftbox-16.png') %>"
      window.githubURL = "<%= image_url('github.png') %>"
      window.linkedinURL = "<%= image_url('linkedin.png') %>"
      window.globelogoURL = "<%= image_url('globe.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>